 
 
.registerBackground{
	background:url('../images/download.jpeg');
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 	overflow:hidden;
   	max-width: 80%;
    max-height:auto;
 	float: right;
 	padding-bottom: 5%;

  
}
.outerContainer{
	background: url('../images/Circlesbackground.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
 	overflow:hidden;
 	max-width: 80%;
    min-height: 80%;
 	margin-top: 3%;
    
}
.asterisk 
{
color: red;
position: absolute; 
font-size: large; 
}
